// Place all the styles related to the access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginlogo {
	background: image-url('logo.png');
	width: 212px;
	height: 82px;
	margin: 150px auto 0 auto;
}
