/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Go from here */

/* Clear Fix */

.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}


body {
	margin: 0;
	font-family: 'Helvetica';
}

#content {
	width: 800px;
	margin: 0 auto;
}

form {
	@extend .container;
	
	margin: 25px auto;
	width: 300px;
	border: 1px solid #E0E0E0;
	padding: 15px 20px;
	border-radius: 10px;
	
	table {
		width: 100%;
		
		tr {
			width: 100%;
			td {
				width: 100%;

			}
		}
	}
	
	label {
		font-size: 11px;
		padding: 2px 6px;
		border-radius: 5px 5px 0 0;
		color: #104659;
		background: #CCCCCB;
	}
	
	input {
		border: 1px solid #CCCCCB;
		border-radius: 0 5px 5px 5px;
	}
	
	input[type="text"], input[type="password"] {
		outline: none;
		margin: -2px 0 15px 0;
		width: 270px;
		font-size: 14px;
		padding: 4px 8px;
		
	}
	
	input[type="submit"]{
		float: right;
	}
	
}

header {
	
	
	
	width: 800px;
	height: 40px;
	margin: 10px auto 35px auto;
	background:#0099CC;
	border-radius: 10px;
	
	.background {
		height: 40px;
		border-radius: 10px;
		border: 1px solid #2E67B1;
		background: #0099cc; /* Old browsers */

		background: -moz-linear-gradient(top,  #0099cc 0%, #3da8cc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099cc), color-stop(100%,#3da8cc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #0099cc 0%,#3da8cc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #0099cc 0%,#3da8cc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #0099cc 0%,#3da8cc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #0099cc 0%,#3da8cc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#3da8cc',GradientType=0 ); /* IE6-9 */

		
		
		#toplogo {
			background: image-url('logo_small_white.png');
			width: 80px;
			height: 40px;
			margin: 0 0 0 10px;
			background-position: 0 -1px;
		}
	}
	
	.identity {
		
		color: #666;
		background: #ccc;
		border-radius: 0 5px 5px 5px;
		float: right;
		font-size: 11px;
		padding: 6px 8px 4px 8px;
		margin: 5px 0 0 0;
		
		.icon {
			background: image-url('user_icon.png');
			width: 15px;
			height: 14px;
			margin: 0 0 0 5px;
			float:right;
			background-position: 0 -1px;
		}
	}
}

footer {
	position:absolute;
	bottom: 0;
	height: 25px;
	background: #0099CC;
	width: 100%;
	
	p {
		margin: 6px auto 0 auto;
		font-size: 11px;
		color: #104659;
		width: 100%;
		text-align: center;
	}
}