// Place all the styles related to the Roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}

.user.edit {

	.formwrapper{
		@extend .container;
		width: 654px;
		margin: 0 auto;

		form {
			float:left;
			height: 200px;

			&.users {
				margin-left: 10px;
				padding: 0;
				height: 230px;
				position: relative;

				ul {
					margin: 0 0 0 -40px;
					
					li {
						border-radius: 5px;
						background: #ccc;
						padding: 5px;
						font-size: 13px;
						margin: 5px;

						.delete {

							float: right;
						}
					}
				}

				.search_field {
					position:absolute;
					bottom: 0;
					border: 0;
					margin: 0;
					border-top: 1px solid #ccc;
					width: 287px;
					background: transparent;
				}

				.search_results {
					position: absolute;
					top: 100%;
					border-bottom: 1px solid #ccc;
					width: 240px;
					border: 1px solid #ccc;
					border-top: 0;
					left: 50px;
					border-radius: 0 0 5px 5px;

					li {
						font-size: 13px;
						margin-left: -35px;
						cursor:pointer;
						
						&.selected {
							background-color: #104659;
							color: #fff;
						}
					}
				}

			}
		}

	}

	.privileges {
		width: 654px;
		padding: 0;
		margin: 0 auto;

		&#search_privileges {
			position:absolute;
			width: 350px;
			height: 400px;
			top: 50%;
			left: 50%;
			margin-left:-175px;
			margin-top: -200px;
			background: #fff;
			border-color: #2E67B1;

			-moz-box-shadow:    3px 3px 5px 6px #ccc;
  			-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  			box-shadow:         3px 3px 5px 6px #ccc;

  			.search_field{
  				position:absolute;
  				margin: 0;
  				bottom: 0;
  				background: transparent;
  				border: 0;
  				border-top: 1px solid #2E67B1;
  				border-radius: 0;
  				width: 100%;
  				padding: 4px 0;
  				text-indent: 8px;
  				font-size: 13px;
  			}

  			ul {
  				width: 100%;

  				.selected {
  					background-color: #104659;
					color: #fff;
  				}
  			}
		}

		 ul {
		 	width: 50%;
		 	float: left;
		 	margin: 0;
		 	padding: 0;

		 	li {
		 		@extend .container;
		 		border-radius: 5px;
				background: #ccc;
				padding: 0;
				font-size: 13px;
				margin: 5px;

				.name {
					width: 80%;
					float:left;
					padding: 5px;

				}

				.delete {
					float:right;
					margin: 5px 5px 0 0;
				}

				&.selected{
					background-color: #104659;
					color: #fff;
				}	
		 	}
		 }

		 .tooltip {
		 	width: 50%;
		 	float: left;
		 	border-left: 1px solid #ccc;
		 	margin-left: -1px;
		 	font-size: 13px;
		 	height: 200px;

		 	h3 {
		 		margin: 10px 0 0 10px;
		 	}

		 	p {
		 		font-style: italic;
		 		margin: 10px 0 10px 10px;
		 	}

		 }
	}

}