<% @page_title = "Edit Role: #{@role.title}" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="user edit">
	<h2>Update role</h2>

	<div class="formwrapper">
	<%= form_for(:role, :url => {:action => 'update', :id => @role.id}) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
	<form class="users">
		<ul>
			<li><a class="delete"></a><div class="name">Bjarke</li></li>
		</ul>
	</form>
	</div>

</div>

