<% @page_title = "Edit Role: #{@role.title}" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="user edit" data-id="<%= @role.id %>">
	<h2>Update role</h2>

	<div class="formwrapper">
	<%= form_for(:role, :url => {:action => 'update', :id => @role.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
	<form class="users">
		<ul>
			<li><div class="name">Bjarke<a class="delete">Remove</a></li>
		</ul>
		<input type="text" class="search_field" />
	</form>
	</div>

</div>

