<h3>Roles</h3>
<% @roles.each do |r| %>
<%= render "roles/list_item", :handlebars => r.as_json %>
<% end %>

<h3>Privileges</h3>
<ul id="privilege_list">
    <% @privileges.each do |p| %>
    <%= render "privileges/list_item", :handlebars => p.as_json %>
    <% end %>
</ul>

<%= link_to 'Add Privilege', '' %>
