<table>
	<tr>
		<td>Email</td>
		<td><%= f.text_field(:email) %></td>
	</tr>
	</tr>
		<td>Password</td>
		<td><%= f.password_field(:password) %></td>
	</tr>
	<tr>
		<td>Firstname</td>
		<td><%= f.text_field(:first_name) %></td>
	</tr>
		<td>Lastname</td>
		<td><%= f.text_field(:last_name) %></td>
	</tr>
</table>