<% @page_title = "Edit Privilege: #{@privilege.type}_#{@privilege.identifier}" %>

<div class="privilege edit">
    <h2>Update Privilege</h2>

    <%= render 'form' %>
</div>

<%= link_to "Back", privileges_path, :class => 'button back' %>
