<h3>Identifier</h3>
<p><%= @privilege.identifier %></p>
<h3>Description</h3>
<p><%= @privilege.description %></p>

<%= link_to 'Edit', edit_privilege_path(@privilege) %> |
<%= link_to 'Back', privileges_path %>
