<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menu</h2>

  <ul>
    <li><%= link_to "Manage Users", users_path %></li>
    <li><%= link_to "Manage Drones", drones_path %></li>
    <li><%= link_to "Manage Companies", companies_path %></li>
    <li><%= link_to "Logout", logout_path %></li>
  </ul>
</div>
