<% @page_title = "Edit Drone: #{@drone.name} at #{@drone.location}" %>

<div class="drone edit">
	<h2>Update Drone</h2>

	<%= render 'form' %>

</div>

<%= link_to "Back", drones_path, :class => 'button back' %>
