<div class="drone_wrapper">
	<form>
		<%= label_tag(:serial) %>
		<input type="text" />
		<%= submit_tag "Find drone", :class => "button" %>
	</form>
	

</div>

<%= link_to 'Back', drones_path, :class => "button back" %>

